body {
    background-image: url("../images/box-sport-men-training-163403.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}