body {
    background-image: url("/media/muhammad/MULTIMEDIA/Kuliah/Bahan Kuliah/Semester 7/Aplikasi Berbasis Web/Tugas/olahfisik.id/static/images/box-sport-men-training-163403.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}