html{
    height: 100%;/* make sure it is at least as tall as the viewport */
    position: relative;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/bebas_neue/BebasNeue.otf") format("truetype");
}

body {
	margin: 0px;
	height: 100%; /* force the BODY element to match the height of the HTML element */
	background-image: url("../images/waterman.png");
	background-size: cover;
	font-family: "Bebas Neue", "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


.row {
	
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	
}


/* Create three equal columns that floats next to each other */
.column {
	font-size: 12px;
	float: left;
	width: 16.666%;
	height: 100vh;
	text-align: center;
	vertical-align: middle;
	/*padding: 400px 0px 100px 0px;*/
}

.column:hover{
	color: white;
	font-size: 17px;
	
}

.column.col1:hover{
	background: #c71002 url('../images/lari.png') no-repeat fixed center;
	background-size: cover;
}

.column.col2:hover{
	background: #c71002 url('../images/badminton.png') no-repeat fixed center;
	background-size: cover;
}

.column.col3:hover{
	background: #c71002 url('../images/futsal-01.png') no-repeat fixed center;
	background-size: cover;
}

.column.col4:hover{
	background: #c71002 url('../images/renang-01.png') no-repeat fixed center;
	background-size: cover;
}


.column.col5:hover{
	background: #c71002 url('../images/senam.png') no-repeat fixed center;
	background-size: cover;
}

.column.col6:hover{
	background: #c71002 url('../images/ping-01.png') no-repeat fixed center;
	background-size: cover;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}
