@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
	height: 100%; /* force the BODY element to match the height of the HTML element */
	background-image: url("../images/index-01.png");
	background-size: cover;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	margin-top: 5%;
	font-family: "Bebas Neue", "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


h1 {
	font-family: "Bebas Neue";
	text-align: center;
	
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 270px;
	height: 270px;
}

div.gallery:hover {
    border: 1px solid #c71002;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.ket {
	float: left;
	margin-left: 40px;
	margin-top: 30px;
	font-size: 20px;
}

