<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Kategori | Olahfisik</title>
</head>
	<link rel="stylesheet" type="text/css" href="static/css/categories.css">
	<link rel="icon" href="static/images/favicon.ico">
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<body>


 <div class="row">
    <div class="column col1"><h1>Lari</h1></div>
    <div class="column col2"><h1>Badminton</h1></div>
    <div class="column col3"><h1>Futsal</h1></div>
    <div class="column col4"><h1>Renang</h1></div>
    <div class="column col5"><h1>Senam</h1></div>
    <div class="column col6"><h1>Pingpong</h1></div>
</div>
            

</body>
</html>
